.time-tracker {
  height: 100%;
  display: flex;
}

.time-tracker__col {
  height: 100%;
  width: 50%;
  padding: 0 0;
}

.time-grid-view {
  height: 100%;
  font-family: RobotoLight, sans-serif;
}

.time-grid-well {
  color: #333;
  font-weight: bold;
}

.time-grid-phase {
  color: #333;
  font-weight: bold;
}

.time-grid-total {
  color: #333;
  font-weight: bold;
}
