.time-grid-view {
  height: 100%;
  font-family: RobotoLight, sans-serif;
  display: flex;
  flex-direction: column;
}

.time-grid-view__col {
  height: 100%;
  flex: 1 50%;
  padding: 0 0;
}

.time-grid-view__top-bar {
  width: 100%;
  padding: 5px 0;
}

.time-grid-view__grids {
  display: flex;
  flex: 1;
}

.time-grid-well {
  color: #333;
  font-weight: bold;
}

.time-grid-phase {
  color: #333;
  font-weight: bold;
}

.time-grid-total {
  color: #333;
  font-weight: bold;
}
