.cost-view {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wj-flexgrid {
    font-size: 12px;
}

.wj-cell.wj-group.wj-group--bg-white {
    background: #fff;
}

.wj-cell.wj-group.wj-group--bg-white.wj-state-multi-selected,
.wj-cell.wj-group.wj-group--bg-white.wj-state-selected {
    /*color: #333;*/
}



