.navigationBar {
    padding: 30px 15px;
    border-right: 2px solid #e3e3e3;
    grid-area: navigation;
    overflow: auto;
    flex: 1 0 200px;
}

.navigationBar h3 {
    margin-bottom: 20px;
}

.navItem {
    display: block;
    padding: 7px 0;
    text-decoration: none;
    color: #607D8B;
    cursor: pointer;
}

.navItem:hover {
    color: #039be5;
    background-color: #CFD8DC;
}

.features {
    padding: 20px 0;
}

.features-list {
    padding: 0;
    margin: 0;
    font-size: 10px;
    list-style: none;
}

.features-content {
    font-size: 10px;
}

.features-list li {
    padding: 3px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.text-blue {
    color: blue;
}
