body, html {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.app-container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-areas:
          'header header'
          'navigation views'
          'footer footer';
  grid-template-columns: 250px auto;
  grid-gap: 5px;
}

.app-header {
  background-color: black;
  color: white;
  grid-area: header;
  padding: 20px 15px;
}

.header-text {
  font-size: 30px;
  font-family: 'Forza SSm A', 'Forza SSm B';
  font-weight: bold;
  height: 30px;
  vertical-align: middle;
}

.app-footer {
  text-align: center;
  background-color: black;
  color: white;
  grid-area: footer;
  padding: 10px 15px;
}

.footer-text {
  height: 16px;
  font-size: 16px;
  font-family: 'Forza SSm A', 'Forza SSm B';
}

.views-container {
  position: relative;
  grid-area: views;
  display: flex;
  flex-direction: column;
  min-height: 500px;
}
